
.model-list {
  display: flex;
  justify-content: center;
}


td {
  background-color: rgb(230, 233, 230);
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 20px;
  padding: 20px;
}
td:hover {
  background-color: #04AA6D;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 20px;

}

#models th {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 21px;
}