<div class="model-list">
    <table>
        <tr id="models">
            <th>No</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Yıl</th>
            <th>Günlük Kiralama Bedeli</th>

        </tr>
        <tr *ngFor="let model of list.items; let i = index"  routerLink="/models/{{ model.id }}">
            <td >{{model.id}}</td>
            <td>{{model.brand.name}}</td>
            <td>{{model.name}}</td>
            <td>{{model.modelYear}}</td>
            <td>{{model.dailyPrice | vatAdd | currency:'₺'}}</td>
        </tr>
    </table>
</div>

<div class="button-area">
    <button *ngIf="list.hasPreviousPage" (click)="previousPage()">Önceki Sayfa</button>
    <button *ngIf="list.hasNextPage" (click)="nextPage()">Sonraki Sayfa</button>
</div>
<p class="page-index">{{list.pageIndex+1}}</p>