<nav>
    <div class="logo">
        <img src="../../../../assets/car-rental-logo.png" alt="car-rental-logo">
    </div>
    <div class="menu">
        <button class="menu-button" routerLink = "/home" >Ana Sayfa</button>
        <button class="menu-button" routerLink = "/home/brands" routerLinkActive="active">Markalar</button>
        <button class="menu-button" routerLink = "/home/models" routerLinkActive="active">Modeller</button>
        <button class="menu-button" routerLink = "/createbrand" routerLinkActive="active">Marka Ekle</button>
        <button class="menu-button" routerLink = "/updatebrand" routerLinkActive="active">Marka Güncelle</button>
        <button class="menu-button" routerLink = "/createmodel" routerLinkActive="active">Model Ekle</button>
        <button class="menu-button" routerLink = "/updatemodel" routerLinkActive="active">Model Güncelle</button>
        <button class="menu-button" routerLink = "/home/customers" routerLinkActive="active">Müşteriler</button>
        <button class="menu-button" routerLink = "/home/cars" routerLinkActive="active">Arabalar</button>
        <button class="menu-button" routerLink = "/home/rentals" routerLinkActive="active">Kiralamalar</button>
    </div>
    <div class="rent-button-div">
        <button class="rent-button">Kirala</button>
    </div>
</nav>
