<form [formGroup] = "form" (submit)="onSubmitForm()">
    Id: <input type="text" formControlName="id">
    <div *ngIf="form.get('id')?.invalid && form.get('id')?.touched">{{ form.get("id")?.errors|controlErrorHandler }}</div>
    BrandId: <input type="text" formControlName="brandId">
    <div *ngIf="form.get('brandId')?.invalid && form.get('brandId')?.touched">{{ form.get("brandId")?.errors|controlErrorHandler }}</div>
    BrandName: <input type="text" formControlName="brandName">
    <div *ngIf="form.get('brandName')?.invalid && form.get('brandName')?.touched">{{ form.get("brandName")?.errors|controlErrorHandler }}</div>
    Name: <input type="text" formControlName="name">
    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">{{ form.get("name")?.errors|controlErrorHandler }}</div>
    Model Year: <input type="text" formControlName="modelYear">
    <div *ngIf="form.get('modelYear')?.invalid && form.get('modelYear')?.touched">{{ form.get("modelYear")?.errors|controlErrorHandler }}</div>
    Daily Price: <input type="text" formControlName="dailyPrice">
    <div *ngIf="form.get('dailyPrice')?.invalid && form.get('dailyPrice')?.touched">{{ form.get("dailyPrice")?.errors|controlErrorHandler }}</div>

    <input type="submit">
</form>